<mjml>
  <mj-head>
    <mj-style> a { color: #060606; text-decoration: underline; } </mj-style>
  </mj-head>
  <mj-body background-color="#fba800">
    <mj-section>
      <mj-column vertical-align="middle">
        <mj-image width="300px" src="https://cdn-und.s3.eu-central-1.amazonaws.com/images/2022/06/27141703/festival-2019.svg"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" background-repeat="repeat" padding="20px 0" text-align="center" vertical-align="top">
      <mj-column>
      </mj-column>
    </mj-section>
    <mj-section background-color="#fba800" background-repeat="repeat" padding="20px 0" text-align="center" vertical-align="top">
      <mj-column>
        <mj-text align="center" color="#000000" font-family="Arial, sans-serif" font-size="13px" line-height="22px" padding="10px 25px">
          <b>UND Generationentandem</b> <br /> Offenes Höchhus <br /> Höchhusweg 17 <br /> 3612 Steffisburg <br />
          <br /> UND-Telefon: <a href="tel:+41 79 836 09 37">079 836 09 37</a> (Mo-Fr 8-17 Uhr) <br />
          <br />
          <a href="mailto:festival@generationentandem.ch">festival@generationentandem.ch</a> <br />
          <a href="www.generationenfestival.ch">www.generationenfestival.ch</a> <br />
          <a href="https://twitter.com/undTandem">Twitter</a> | <a href="https://www.facebook.com/generationentandem/">Facebook</a> | <a href="https://www.instagram.com/generationentandem/">Instagram</a> | <a href="https://soundcloud.com/generationentandem">Soundcloud</a> | <a href="https://www.youtube.com/channel/UCyJ52xscqRdb7z3GsVub_Ew">Youtube</a> <br />
          <p style="box-sizing: border-box;">{unsubscribe_text} | {webview_text}</p> <br />
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>